#login {
    -fx-background-color: #f6f6f6;
    /*-fx-background-image: url("../img/purple.png");*/
    /*-fx-background-color: transparent;*/
    /*-fx-background-size: cover;*/
}

#operation {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/banner.png");
    /*-fx-background-image: url("../img/purple.png");*/
    -fx-background-size: cover;
}

.close, .close:pressed {
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 43px 34px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/close_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.close:hover {
    -fx-background-color: #EABCBE;
    -fx-background-image: url("../img/close_0.png");
    -fx-border-width: 1px 1px 0 0;
    -fx-border-radius: 2px;
}

.min, .min:pressed {
    -fx-background-radius: 2px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 43px 34px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/min_0.png");
    -fx-cursor: hand;
    -fx-border-width: 0;
}

.min:hover {
    -fx-background-color: #EABCBE;
    -fx-background-image: url("../img/min_1.png");
    -fx-border-width: 1px 1px 0 0;
    -fx-border-radius: 2px;
}

#avatar {
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-background-image: url("../img/me.jpg");
    -fx-background-size: cover;
    -fx-opacity: 0.8;
}

.login-button, .login-button:pressed {
    -fx-background-size: 43px 43px;
    -fx-background-color: #EB7D7E;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: #EB7D7E;
    -fx-font-family: "微软雅黑";
    -fx-text-fill: #f6f6f6;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.login-button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #d27377;
    -fx-background-color: #d27377;
}

#slogan {
    -fx-text-fill: #999999;
}

.logo {
    -fx-text-fill: #666666;
}